.root {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  padding: 16px;
  background-color: rgba(0, 125, 215, 0.34);
  top: 0;
  margin: 16px;
  display: flex;
  flex-direction: row;
}

.buttonPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  Button {
    margin: 8px;
  }
}
